$colors: (
    //Brand colors
    "primary": #0ab463,
    //Secondary colors
    "accent": #0094ff,
    //Neutrals
    "white": #ffffff,
    "black": #000000,
    "grey": #c4c4c4,
    "grey-dimm": #848484,
    "grey-dark": #383838,
    "grey-shadow": #dadada,
    //Tints
    "grey-light": #ededed,
    "grey-dimm-75": rgba(132, 132, 132, 0.75)
);

:root {
    @each $name, $value in $colors {
        --color-#{$name}: #{$value};
    }

    .box-shadow {
        box-shadow: 0 0.0625rem 0.125rem 0 var(--color-grey-dimm-75);
    }
    .border {
        border: border solid 0.0625rem var(--color-grey-dimm-75);
    }
}