$spaceings: (
    "s": 0.3125rem, // 5px
    "m": 0.625rem,  // 10px
    "l": 1.25rem,   // 20px
    "xl": 1.875rem, // 30px
    "xxxl":6.5rem   // 100px
);

:root{
    @each $name, $value in $spaceings {
        --spc-#{$name}: #{$value};
    }

    --measure-s: 25.625rem;
    --measure-m: 36.375rem;
    --measure-l: 50.25rem;

    --min-width: 25rem;

    @each $name, $value in $spaceings {
        .ma-#{$name} {
            margin-top: var(--spc-#{$name});
            margin-right: var(--spc-#{$name});
            margin-bottom: var(--spc-#{$name});
            margin-left: var(--spc-#{$name});
        }
        .mx-#{$name} {
            margin-right: var(--spc-#{$name});
            margin-left: var(--spc-#{$name});
        }
        .my-#{$name} {
            margin-top: var(--spc-#{$name});
            margin-bottom: var(--spc-#{$name});
        }
        .mt-#{$name} {
            margin-top: var(--spc-#{$name});
        }
        .mr-#{$name} {
            margin-right: var(--spc-#{$name});
        }
        .mb-#{$name} {
            margin-bottom: var(--spc-#{$name});
        }
        .ml-#{$name} {
            margin-left: var(--spc-#{$name});
        }
        .pa-#{$name} {
            padding-top: var(--spc-#{$name});
            padding-right: var(--spc-#{$name});
            padding-bottom: var(--spc-#{$name});
            padding-left: var(--spc-#{$name});
        }
        .px-#{$name} {
            padding-right: var(--spc-#{$name});
            padding-left: var(--spc-#{$name});
        }
        .py-#{$name} {
            padding-top: var(--spc-#{$name});
            padding-bottom: var(--spc-#{$name});
        }
        .pt-#{$name} {
            padding-top: var(--spc-#{$name});
        }
        .pr-#{$name} {
            padding-right: var(--spc-#{$name});
        }
        .pb-#{$name} {
            padding-bottom: var(--spc-#{$name});
        }
        .pl-#{$name} {
            padding-left: var(--spc-#{$name});
        }
    }

    .flex-h {
        display: flex;
        flex-flow: row nowrap;
    }
    
    .wrap {
        flex-wrap: wrap;
    }
    
    .flex-v {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .justify-center {
        justify-content: center;
    }
    
    .justify-start {
        justify-content: flex-start;
    }
    
    .justify-end {
        justify-content: flex-end;
    }
    
    .justify-space-center {
        justify-content: center;
    }
    
    .justify-space-between {
        justify-content: space-between;
    }
    
    .justify-space-evenly {
        justify-content: space-evenly;
    }
    
    .justify-space-around {
        justify-content: space-around;
    }
    
    .align-center {
        align-items: center;
    }
    
    .align-start {
        align-items: flex-start;
    }

    .align-end {
        align-items: flex-end;
    }
    
    .align-stretch {
        align-items: stretch;
    }
    
    .flex-wrap {
        flex-wrap: wrap;
    }
}