@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
  --font-weight-bold: $font-weight-bold;
  --font-size-s: 0.875rem;
  --font-size-l: 1.125rem;
}
